<h1>Manage Coupons</h1>

<% if @coupons.empty? %>
  <h4>There are no coupons in the system.</h4><br>
<% else %>
  <% @coupons.each do |coupon| %>
    <section id="coupon-<%= coupon.id %>">
      <h4><%= link_to coupon.name, merchant_coupon_path(coupon.id) %></h4>
      <ul>
        <li><b>Percentage off: </b><%= number_to_percentage(coupon.percentage_off, precision: 0) %></li>
        <li><b>Code: </b><%= coupon.code %></li>
      </ul>
      <%= button_to 'Edit', edit_merchant_coupon_path(coupon.id), method: :get %>

      <% if coupon.never_applied? %>
        <%= button_to 'Delete', merchant_coupon_path(coupon.id), method: :delete %>
      <% else %>
        <p>This coupon has been applied and cannot be deleted.</p>
      <% end %>
    </section><br>
  <% end %>
<% end %>

<%= button_to 'Create Coupon', new_merchant_coupon_path, method: :get %>
