<h1>My Cart</h1>
<% if cart.items.empty? %>
  <p>Your Cart is Empty!</p>
<% else %>
  <% cart.items.each do |item| %>
    <section id='item-<%= item.id%>'>
      <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
      <img src= <%= item.image %>>
      <p>Price: <%= number_to_currency(item.price) %></p>
      <p>Quantity: <%= cart.count_of(item.id) %></p>
      <p>Subtotal: <%= number_to_currency(cart.subtotal_of(item.id)) %></p>
      <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
      <%= button_to 'More of This!', "/cart/more/#{item.id}", method: :patch unless cart.limit_reached?(item.id) %>
      <%= button_to 'Less of This!', "/cart/less/#{item.id}", method: :patch %>
      <%= button_to 'Remove', "/cart/#{item.id}", method: :delete %>
    </section>
  <% end %><br>

  <h3>Subtotal: <%= number_to_currency(cart.grand_total) %></h3><br>


  <section id='checkout'>

  <%= form_tag '/cart/add_coupon', method: :patch do %>
    <%= label_tag 'Coupon Code:' %>
    <%= text_field_tag :coupon_code %>
    <%= submit_tag 'Submit' %>
  <% end %>

  <% if current_coupon %>
    <p><%= current_coupon.code %> coupon currently applied.</p>
    <h3>Total Discounts: -<%= number_to_currency(cart.total_discounts(current_coupon.merchant_id, current_coupon.percentage_off)) %></h3>
    <h3>Grand Total: <%= number_to_currency(cart.discounted_grand_total(current_coupon.merchant_id, current_coupon.percentage_off)) %></h3>
  <% else %>
    <h3>Grand Total: <%= number_to_currency(cart.grand_total) %></h3>
  <% end %>

  <br>
    <% if current_user %>
      <%= button_to 'Check Out', '/orders' %>
    <% else %>
      <p>You must <%= link_to 'register', registration_path %> or <%= link_to 'log in', login_path %> to checkout.</p>
    <% end %>
  </section>
  <%= button_to 'Empty Cart', '/cart', method: :delete %>
<% end %>
